flows (3).json
[{"id":"a9913e0.b948ac","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"bed5ea1a.be9198","type":"coap in","z":"a9913e0.b948ac","method":"GET","name":"","server":"55a05053.bcfee","url":"/ID","x":240,"y":160,"wires":[["81e5d74.b6fec28","457d5902.52c438"]]},{"id":"81e5d74.b6fec28","type":"function","z":"a9913e0.b948ac","name":"give an ID","func":"var count = context.get('count')||1;\nmsg.res.end(\"1\"+ \".\");\ncount += 1;\n// store the value back\ncontext.set('count',count);\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":160,"wires":[[]]},{"id":"65aff933.0bcc38","type":"coap in","z":"a9913e0.b948ac","method":"POST","name":"","server":"55a05053.bcfee","url":"/1Position","x":230,"y":200,"wires":[["bd685dfd.5767e","e59ab7b0.52d358"]]},{"id":"d844f066.56c08","type":"coap in","z":"a9913e0.b948ac","method":"POST","name":"","server":"55a05053.bcfee","url":"/2Position","x":230,"y":240,"wires":[["b64bf54a.699448","e59ab7b0.52d358"]]},{"id":"2374a8a1.022578","type":"coap in","z":"a9913e0.b948ac","method":"POST","name":"","server":"55a05053.bcfee","url":"/3Position","x":230,"y":280,"wires":[["1883e141.31f17f","e59ab7b0.52d358"]]},{"id":"d74daa59.23d068","type":"coap in","z":"a9913e0.b948ac","method":"POST","name":"","server":"55a05053.bcfee","url":"/4Position","x":230,"y":320,"wires":[["f2f4c653.2efd98","e59ab7b0.52d358"]]},{"id":"2cf6bbf2.da0ab4","type":"coap in","z":"a9913e0.b948ac","method":"POST","name":"","server":"55a05053.bcfee","url":"/6Position","x":230,"y":400,"wires":[["25d342dd.b1c31e","e59ab7b0.52d358"]]},{"id":"aa1e0f08.f6926","type":"coap in","z":"a9913e0.b948ac","method":"POST","name":"","server":"55a05053.bcfee","url":"/5Position","x":230,"y":360,"wires":[["b94c6a4d.753c28","e59ab7b0.52d358"]]},{"id":"bd685dfd.5767e","type":"function","z":"a9913e0.b948ac","name":"Savepositiononflow1","func":"pos=JSON.parse(msg.req.payload);\nflow.set(\"X1\",Math.round(pos.x));\nflow.set(\"Y1\",Math.round(pos.y));\nmsg.res.end(\"1\");\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":200,"wires":[[]]},{"id":"1883e141.31f17f","type":"function","z":"a9913e0.b948ac","name":"Savepositiononflow3","func":"pos=JSON.parse(msg.req.payload);\nflow.set(\"X3\",Math.round(pos.x));\nflow.set(\"Y3\",Math.round(pos.y));\nmsg.res.end(\"3\");\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":280,"wires":[[]]},{"id":"b64bf54a.699448","type":"function","z":"a9913e0.b948ac","name":"Savepositiononflow2","func":"pos=JSON.parse(msg.req.payload);\nflow.set(\"X2\",Math.round(pos.x));\nflow.set(\"Y2\",Math.round(pos.y));\nmsg.res.end(\"2\");\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":240,"wires":[[]]},{"id":"f2f4c653.2efd98","type":"function","z":"a9913e0.b948ac","name":"Savepositiononflow4","func":"pos=JSON.parse(msg.req.payload);\nflow.set(\"X4\",Math.round(pos.x));\nflow.set(\"Y4\",Math.round(pos.y));\nmsg.res.end(\"4\");\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":320,"wires":[[]]},{"id":"b94c6a4d.753c28","type":"function","z":"a9913e0.b948ac","name":"Savepositiononflow5","func":"pos=JSON.parse(msg.req.payload);\nflow.set(\"X5\",Math.round(pos.x));\nflow.set(\"Y5\",Math.round(pos.y));\nmsg.res.end(\"5\");\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":360,"wires":[[]]},{"id":"25d342dd.b1c31e","type":"function","z":"a9913e0.b948ac","name":"Savepositiononflow6","func":"pos=JSON.parse(msg.req.payload);\nflow.set(\"X6\",Math.round(pos.x));\nflow.set(\"Y6\",Math.round(pos.y));\nmsg.res.end(\"6\");\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":400,"wires":[[]]},{"id":"52c62b70.121134","type":"json","z":"a9913e0.b948ac","name":"","property":"payload","action":"","pretty":false,"x":570,"y":780,"wires":[["c913177e.b85a68"]]},{"id":"679314df.eb324c","type":"inject","z":"a9913e0.b948ac","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":true,"onceDelay":"5","x":210,"y":780,"wires":[["11c08e4a.199602"]]},{"id":"11c08e4a.199602","type":"function","z":"a9913e0.b948ac","name":"savevariables","func":"X=flow.get([\"X1\",\"X2\",\"X3\",\"X4\",\"X5\",\"X6\"])\nY=flow.get([\"Y1\",\"Y2\",\"Y3\",\"Y4\",\"Y5\",\"Y6\"])\npayload={\"1\":{\"X\":X[0],\"Y\":Y[0]},\"2\":{\"X\":X[1],\"Y\":Y[1]},\"3\":{\"X\":X[2],\"Y\":Y[2]},\"4\":{\"X\":X[3],\"Y\":Y[3]},\"5\":{\"X\":X[4],\"Y\":Y[4]},\"6\":{\"X\":X[5],\"Y\":Y[5]}};\nmsg.payload=payload;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":780,"wires":[["52c62b70.121134"]]},{"id":"c913177e.b85a68","type":"file","z":"a9913e0.b948ac","name":"","filename":"/home/david/Documentos/positions.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":810,"y":780,"wires":[[]]},{"id":"4aae368c.bbd878","type":"coap in","z":"a9913e0.b948ac","method":"GET","name":"","server":"55a05053.bcfee","url":"/Allpositions","x":230,"y":440,"wires":[["5020bc4.d6aab44","80064588.edb0e8"]]},{"id":"5020bc4.d6aab44","type":"function","z":"a9913e0.b948ac","name":"allrobotpositions","func":"X=flow.get([\"X1\",\"X2\",\"X3\",\"X4\",\"X5\",\"X6\"]);\nY=flow.get([\"Y1\",\"Y2\",\"Y3\",\"Y4\",\"Y5\",\"Y6\"]);\nvar red=\"\";\n//payload={\"1\":{\"X\":X[0],\"Y\":Y[0]},\"2\":{\"X\":X[1],\"Y\":Y[1]},\"3\":{\"X\":X[2],\"Y\":Y[2]},\"4\":{\"X\":X[3],\"Y\":Y[3]},\"5\":{\"X\":X[4],\"Y\":Y[4]},\"6\":{\"X\":X[5],\"Y\":Y[5]}};\n//P=JSON.stringify(payload);\nred=\"{\"+String(X[0])+\",\"+String(Y[0])+\",\"+String(X[1])+\",\"+String(Y[1])+\",\"+X[2]+\",\"+Y[2]+\",\"+X[3]+\",\"+Y[3]+\",\"+X[4]+\",\"+Y[4]+\",\"+X[5]+\",\"+Y[5]+\"}\";\nmsg.res.end(red);\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":440,"wires":[[]]},{"id":"72e63104.71dbc","type":"coap in","z":"a9913e0.b948ac","method":"GET","name":"","server":"55a05053.bcfee","url":"/Target","x":210,"y":480,"wires":[["5115d002.6e5ae","3a6e6002.84fcf"]]},{"id":"5115d002.6e5ae","type":"function","z":"a9913e0.b948ac","name":"TARGET","func":"var conteo=context.get('conteo')||0;\nif (conteo === 0){\nX=\"{100,100}\";\n} else {\nX=\"{100,120}\";\n}\nconteo=1;\ncontext.set('conteo',conteo);\nmsg.res.end(X);\nreturn  msg;","outputs":1,"noerr":0,"x":460,"y":480,"wires":[[]]},{"id":"fec4630e.39d62","type":"inject","z":"a9913e0.b948ac","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":".5","x":210,"y":720,"wires":[["e621e85c.9b1358"]]},{"id":"e621e85c.9b1358","type":"file","z":"a9913e0.b948ac","name":"","filename":"/home/david/Documentos/positions.txt","appendNewline":true,"createDir":true,"overwriteFile":"delete","encoding":"none","x":530,"y":720,"wires":[[]]},{"id":"e59ab7b0.52d358","type":"debug","z":"a9913e0.b948ac","name":"enviar posicion","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req.payload","targetType":"msg","x":920,"y":280,"wires":[]},{"id":"457d5902.52c438","type":"debug","z":"a9913e0.b948ac","name":"ID","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req.payload","targetType":"msg","x":890,"y":240,"wires":[]},{"id":"3a6e6002.84fcf","type":"debug","z":"a9913e0.b948ac","name":"tget","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req.payload","targetType":"msg","x":890,"y":360,"wires":[],"inputLabels":["COSA"]},{"id":"80064588.edb0e8","type":"debug","z":"a9913e0.b948ac","name":"allpositions","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req.payload","targetType":"msg","x":910,"y":320,"wires":[],"inputLabels":["COSA"]},{"id":"a34063b0.6743b","type":"coap in","z":"a9913e0.b948ac","method":"GET","name":"","server":"55a05053.bcfee","url":"/Target1","x":220,"y":520,"wires":[["97499a9e.b75a38","66c1a8ba.0ede08"]]},{"id":"e069d6be.137428","type":"coap in","z":"a9913e0.b948ac","method":"GET","name":"","server":"55a05053.bcfee","url":"/Target2","x":220,"y":560,"wires":[["38112037.4f825","e730bc11.73b44"]]},{"id":"e746d4d3.7f41c8","type":"coap in","z":"a9913e0.b948ac","method":"POST","name":"","server":"55a05053.bcfee","url":"/Target1","x":220,"y":600,"wires":[["e9f45a8e.c85948","66c1a8ba.0ede08"]]},{"id":"b06b9a02.ede9a8","type":"coap in","z":"a9913e0.b948ac","method":"POST","name":"","server":"55a05053.bcfee","url":"/Target2","x":220,"y":640,"wires":[["6af92a73.c81e04","e730bc11.73b44"]]},{"id":"8d63dbc7.c48268","type":"coap in","z":"a9913e0.b948ac","method":"GET","name":"","server":"55a05053.bcfee","url":"/Permission","x":270,"y":120,"wires":[["4a552195.8173f","836953bc.a9b42"]]},{"id":"2c9cf44.b070a0c","type":"coap in","z":"a9913e0.b948ac","method":"POST","name":"","server":"55a05053.bcfee","url":"/Permission","x":270,"y":80,"wires":[["536f51cb.21201","836953bc.a9b42"]]},{"id":"97499a9e.b75a38","type":"function","z":"a9913e0.b948ac","name":"Enviartget1","func":"\nobjetivo=flow.get(\"objetivo1\")||\"[100,0]\";\nmsg.res.end(objetivo);\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":520,"wires":[[]]},{"id":"38112037.4f825","type":"function","z":"a9913e0.b948ac","name":"Enviartget2","func":"var objetivo=flow.get(\"objetivo2\")||\"{80,0}\";\nmsg.res.end(objetivo);\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":560,"wires":[[]]},{"id":"e9f45a8e.c85948","type":"function","z":"a9913e0.b948ac","name":"cambiando target 1","func":"var objetivo;\nobjetivo=msg.req.payload;\nflow.set(\"objetivo1\",objetivo);\nmsg.res.end(\"ok\");\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":600,"wires":[[]]},{"id":"6af92a73.c81e04","type":"function","z":"a9913e0.b948ac","name":"cambiando target 2","func":"var objetivo;\nobjetivo=msg.req.payload;\nflow.set(\"objetivo2\",objetivo);\nmsg.res.end(\"ok\");\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":640,"wires":[[]]},{"id":"4a552195.8173f","type":"function","z":"a9913e0.b948ac","name":"enviar permiso","func":"var permiso= flow.get(\"permiso\")||0;\nmsg.res.end(String(permiso));\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":120,"wires":[[]]},{"id":"536f51cb.21201","type":"function","z":"a9913e0.b948ac","name":"cambiar permiso","func":"var permiso;\npermiso=parseInt(msg.req.payload);\nflow.set(\"permiso\",permiso);\nmsg.res.end(\"ok\");\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":76,"wires":[[]]},{"id":"66c1a8ba.0ede08","type":"debug","z":"a9913e0.b948ac","name":"Target1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":740,"y":520,"wires":[]},{"id":"e730bc11.73b44","type":"debug","z":"a9913e0.b948ac","name":"Target2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":740,"y":560,"wires":[]},{"id":"836953bc.a9b42","type":"debug","z":"a9913e0.b948ac","name":"Permiso","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.req","targetType":"msg","x":780,"y":80,"wires":[]},{"id":"55a05053.bcfee","type":"coap-server","z":"","name":"coapserver","port":"5683"}]