flows.json
[{"id":"4a6b104b.b6286","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"83ec0b78.c85608","type":"coap in","z":"4a6b104b.b6286","method":"GET","name":"","server":"75a125c4.1fff3c","url":"/ID","x":240,"y":160,"wires":[["b1a40a90.211a58","a14d5650.1e3b48"]]},{"id":"b1a40a90.211a58","type":"function","z":"4a6b104b.b6286","name":"give an ID","func":"var count = context.get('count')||1;\nmsg.res.end(String(count)+ \".\");\ncount += 1;\nif (count==4){\n    count=1;\n}\n// store the value back\ncontext.set('count',count);\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":160,"wires":[[]]},{"id":"747986b.17b9878","type":"coap in","z":"4a6b104b.b6286","method":"POST","name":"","server":"75a125c4.1fff3c","url":"/1Position","x":230,"y":200,"wires":[["c6f32e9c.3b591","63319e22.f4ec8"]]},{"id":"96730041.8b20a","type":"coap in","z":"4a6b104b.b6286","method":"POST","name":"","server":"75a125c4.1fff3c","url":"/2Position","x":230,"y":240,"wires":[["ceecf751.197598","63319e22.f4ec8"]]},{"id":"e69e1cef.6efad","type":"coap in","z":"4a6b104b.b6286","method":"POST","name":"","server":"75a125c4.1fff3c","url":"/3Position","x":230,"y":280,"wires":[["a06bdbe1.8be8a8","63319e22.f4ec8"]]},{"id":"31245a84.61d866","type":"coap in","z":"4a6b104b.b6286","method":"POST","name":"","server":"75a125c4.1fff3c","url":"/4Position","x":230,"y":320,"wires":[["41116e5f.ebd9c","63319e22.f4ec8"]]},{"id":"1efcbb93.6e2f94","type":"coap in","z":"4a6b104b.b6286","method":"POST","name":"","server":"75a125c4.1fff3c","url":"/6Position","x":230,"y":400,"wires":[["17fd0415.08590c","63319e22.f4ec8"]]},{"id":"960ef774.15f418","type":"coap in","z":"4a6b104b.b6286","method":"POST","name":"","server":"75a125c4.1fff3c","url":"/5Position","x":230,"y":360,"wires":[["5cfc4fa6.a6263","63319e22.f4ec8"]]},{"id":"c6f32e9c.3b591","type":"function","z":"4a6b104b.b6286","name":"Savepositiononflow1","func":"pos=JSON.parse(msg.req.payload);\nflow.set(\"X1\",Math.round(pos.x));\nflow.set(\"Y1\",Math.round(pos.y));\nmsg.res.end(\"1\");\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":200,"wires":[[]]},{"id":"a06bdbe1.8be8a8","type":"function","z":"4a6b104b.b6286","name":"Savepositiononflow3","func":"pos=JSON.parse(msg.req.payload);\nflow.set(\"X3\",Math.round(pos.x));\nflow.set(\"Y3\",Math.round(pos.y));\nmsg.res.end(\"3\");\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":280,"wires":[[]]},{"id":"ceecf751.197598","type":"function","z":"4a6b104b.b6286","name":"Savepositiononflow2","func":"pos=JSON.parse(msg.req.payload);\nflow.set(\"X2\",Math.round(pos.x));\nflow.set(\"Y2\",Math.round(pos.y));\nmsg.res.end(\"2\");\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":240,"wires":[[]]},{"id":"41116e5f.ebd9c","type":"function","z":"4a6b104b.b6286","name":"Savepositiononflow4","func":"pos=JSON.parse(msg.req.payload);\nflow.set(\"X4\",Math.round(pos.x));\nflow.set(\"Y4\",Math.round(pos.y));\nmsg.res.end(\"4\");\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":320,"wires":[[]]},{"id":"5cfc4fa6.a6263","type":"function","z":"4a6b104b.b6286","name":"Savepositiononflow5","func":"pos=JSON.parse(msg.req.payload);\nflow.set(\"X5\",Math.round(pos.x));\nflow.set(\"Y5\",Math.round(pos.y));\nmsg.res.end(\"5\");\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":360,"wires":[[]]},{"id":"17fd0415.08590c","type":"function","z":"4a6b104b.b6286","name":"Savepositiononflow6","func":"pos=JSON.parse(msg.req.payload);\nflow.set(\"X6\",Math.round(pos.x));\nflow.set(\"Y6\",Math.round(pos.y));\nmsg.res.end(\"6\");\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":400,"wires":[[]]},{"id":"d976f925.15b728","type":"json","z":"4a6b104b.b6286","name":"","property":"payload","action":"","pretty":false,"x":570,"y":860,"wires":[["67116d41.143574"]]},{"id":"1907e9af.ffdfe6","type":"inject","z":"4a6b104b.b6286","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":true,"onceDelay":"5","x":210,"y":860,"wires":[["de2b443c.d63dc8"]]},{"id":"de2b443c.d63dc8","type":"function","z":"4a6b104b.b6286","name":"savevariables","func":"X=flow.get([\"X1\",\"X2\",\"X3\",\"X4\",\"X5\",\"X6\"])\nY=flow.get([\"Y1\",\"Y2\",\"Y3\",\"Y4\",\"Y5\",\"Y6\"])\npayload={\"1\":{\"X\":X[0],\"Y\":Y[0]},\"2\":{\"X\":X[1],\"Y\":Y[1]},\"3\":{\"X\":X[2],\"Y\":Y[2]},\"4\":{\"X\":X[3],\"Y\":Y[3]},\"5\":{\"X\":X[4],\"Y\":Y[4]},\"6\":{\"X\":X[5],\"Y\":Y[5]}};\nmsg.payload=payload;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":860,"wires":[["d976f925.15b728"]]},{"id":"67116d41.143574","type":"file","z":"4a6b104b.b6286","name":"","filename":"/home/david/Documentos/positions.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":810,"y":860,"wires":[[]]},{"id":"6ad431a8.71b48","type":"coap in","z":"4a6b104b.b6286","method":"GET","name":"","server":"75a125c4.1fff3c","url":"/Allpositions","x":230,"y":440,"wires":[["79757ce9.e6d864","cf8e7753.c0f988"]]},{"id":"79757ce9.e6d864","type":"function","z":"4a6b104b.b6286","name":"allrobotpositions","func":"X=flow.get([\"X1\",\"X2\",\"X3\",\"X4\",\"X5\",\"X6\"]);\nY=flow.get([\"Y1\",\"Y2\",\"Y3\",\"Y4\",\"Y5\",\"Y6\"]);\nvar red=\"\";\n//payload={\"1\":{\"X\":X[0],\"Y\":Y[0]},\"2\":{\"X\":X[1],\"Y\":Y[1]},\"3\":{\"X\":X[2],\"Y\":Y[2]},\"4\":{\"X\":X[3],\"Y\":Y[3]},\"5\":{\"X\":X[4],\"Y\":Y[4]},\"6\":{\"X\":X[5],\"Y\":Y[5]}};\n//P=JSON.stringify(payload);\nred=\"{\"+String(X[0])+\",\"+String(Y[0])+\",\"+String(X[1])+\",\"+String(Y[1])+\",\"+X[2]+\",\"+Y[2]+\",\"+X[3]+\",\"+Y[3]+\",\"+X[4]+\",\"+Y[4]+\",\"+X[5]+\",\"+Y[5]+\"}\";\nmsg.res.end(red);\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":440,"wires":[[]]},{"id":"c1f4a9a4.e9e598","type":"coap in","z":"4a6b104b.b6286","method":"GET","name":"","server":"75a125c4.1fff3c","url":"/Target","x":210,"y":480,"wires":[["fb2d9887.5cf5d8","c70b560b.28f388"]]},{"id":"fb2d9887.5cf5d8","type":"function","z":"4a6b104b.b6286","name":"TARGET","func":"X=\"{100,0}\"\nmsg.res.end(X);\nreturn  msg;","outputs":1,"noerr":0,"x":460,"y":480,"wires":[[]]},{"id":"97bee769.e56b88","type":"inject","z":"4a6b104b.b6286","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":".5","x":210,"y":800,"wires":[["e5a34f6b.03da4"]]},{"id":"e5a34f6b.03da4","type":"file","z":"4a6b104b.b6286","name":"","filename":"/home/david/Documentos/positions.txt","appendNewline":true,"createDir":true,"overwriteFile":"delete","encoding":"none","x":530,"y":800,"wires":[[]]},{"id":"63319e22.f4ec8","type":"debug","z":"4a6b104b.b6286","name":"enviar posicion","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req.payload","targetType":"msg","x":920,"y":280,"wires":[]},{"id":"a14d5650.1e3b48","type":"debug","z":"4a6b104b.b6286","name":"ID","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req.url","targetType":"msg","x":790,"y":120,"wires":[]},{"id":"c70b560b.28f388","type":"debug","z":"4a6b104b.b6286","name":"AllTargets","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req.url","targetType":"msg","x":900,"y":360,"wires":[],"inputLabels":["COSA"]},{"id":"cf8e7753.c0f988","type":"debug","z":"4a6b104b.b6286","name":"allpositions","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req.url","targetType":"msg","x":910,"y":320,"wires":[],"inputLabels":["COSA"]},{"id":"52fedab5.a50054","type":"coap in","z":"4a6b104b.b6286","method":"GET","name":"","server":"75a125c4.1fff3c","url":"/Target1","x":220,"y":520,"wires":[["1dbc86e9.9d46a9","a8dbb2c4.4c4ae"]]},{"id":"2ab69170.622dae","type":"coap in","z":"4a6b104b.b6286","method":"GET","name":"","server":"75a125c4.1fff3c","url":"/Target2","x":220,"y":560,"wires":[["dfffc44.6ea9938","8c861f42.22b6e"]]},{"id":"f580951b.9c4538","type":"coap in","z":"4a6b104b.b6286","method":"POST","name":"","server":"75a125c4.1fff3c","url":"/Target1","x":220,"y":640,"wires":[["1acd7a16.0143b6","a8dbb2c4.4c4ae"]]},{"id":"4b9a1d2a.0d53d4","type":"coap in","z":"4a6b104b.b6286","method":"POST","name":"","server":"75a125c4.1fff3c","url":"/Target2","x":220,"y":680,"wires":[["4a424cbb.974094","8c861f42.22b6e"]]},{"id":"581c0bcc.b59db4","type":"coap in","z":"4a6b104b.b6286","method":"GET","name":"","server":"75a125c4.1fff3c","url":"/Permission","x":270,"y":120,"wires":[["4dab603a.fb522","74fd247.1d8bbdc"]]},{"id":"31fd3845.c451a8","type":"coap in","z":"4a6b104b.b6286","method":"POST","name":"","server":"75a125c4.1fff3c","url":"/Permission","x":270,"y":80,"wires":[["848a2507.418a98","74fd247.1d8bbdc"]]},{"id":"1dbc86e9.9d46a9","type":"function","z":"4a6b104b.b6286","name":"Enviartget1","func":"\nobjetivo=flow.get(\"objetivo1\")||\"[100,0]\";\nmsg.res.end(objetivo);\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":520,"wires":[[]]},{"id":"dfffc44.6ea9938","type":"function","z":"4a6b104b.b6286","name":"Enviartget2","func":"var objetivo=flow.get(\"objetivo2\")||\"{100,0}\";\nmsg.res.end(objetivo);\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":560,"wires":[[]]},{"id":"1acd7a16.0143b6","type":"function","z":"4a6b104b.b6286","name":"cambiando target 1","func":"var objetivo;\nobjetivo=msg.req.payload;\nflow.set(\"objetivo1\",objetivo);\nmsg.res.end(\"ok\");\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":640,"wires":[[]]},{"id":"4a424cbb.974094","type":"function","z":"4a6b104b.b6286","name":"cambiando target 2","func":"var objetivo;\nobjetivo=msg.req.payload;\nflow.set(\"objetivo2\",objetivo);\nmsg.res.end(\"ok\");\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":680,"wires":[[]]},{"id":"4dab603a.fb522","type":"function","z":"4a6b104b.b6286","name":"enviar permiso","func":"var permiso= flow.get(\"permiso\")||0;\nmsg.res.end(String(permiso)+\".\");\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":120,"wires":[[]]},{"id":"848a2507.418a98","type":"function","z":"4a6b104b.b6286","name":"cambiar permiso","func":"var permiso;\npermiso=parseInt(msg.req.payload);\nflow.set(\"permiso\",permiso);\nmsg.res.end(\"ok\");\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":76,"wires":[[]]},{"id":"a8dbb2c4.4c4ae","type":"debug","z":"4a6b104b.b6286","name":"Target1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req.payload","targetType":"msg","x":800,"y":480,"wires":[]},{"id":"8c861f42.22b6e","type":"debug","z":"4a6b104b.b6286","name":"Target2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req.payload","targetType":"msg","x":800,"y":520,"wires":[]},{"id":"74fd247.1d8bbdc","type":"debug","z":"4a6b104b.b6286","name":"Permiso","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req.payload","targetType":"msg","x":800,"y":80,"wires":[]},{"id":"5a2d923f.3675dc","type":"coap in","z":"4a6b104b.b6286","method":"GET","name":"","server":"75a125c4.1fff3c","url":"/Target3","x":220,"y":600,"wires":[["a5deaa6c.657a18","fe319bd2.b05c28"]]},{"id":"a5deaa6c.657a18","type":"function","z":"4a6b104b.b6286","name":"Enviartget3","func":"\nobjetivo=flow.get(\"objetivo3\")||\"[100,0]\";\nmsg.res.end(objetivo);\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":600,"wires":[[]]},{"id":"f57a19f0.709fd8","type":"coap in","z":"4a6b104b.b6286","method":"POST","name":"","server":"75a125c4.1fff3c","url":"/Target3","x":220,"y":720,"wires":[["c9106e8e.b9352","fe319bd2.b05c28"]]},{"id":"c9106e8e.b9352","type":"function","z":"4a6b104b.b6286","name":"cambiando target 3","func":"var objetivo;\nobjetivo=msg.req.payload;\nflow.set(\"objetivo3\",objetivo);\nmsg.res.end(\"ok\");\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":720,"wires":[[]]},{"id":"fe319bd2.b05c28","type":"debug","z":"4a6b104b.b6286","name":"Target3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req.payload","targetType":"msg","x":800,"y":560,"wires":[]},{"id":"75a125c4.1fff3c","type":"coap-server","z":"","name":"coapserver","port":"5683"}]